fastapi==0.115.7
uvicorn-worker==0.3.0
orjson==3.10.15
kafka-python==2.0.2
requests==2.32.3
PyJWT==2.10.1
python-dotenv==1.0.1
redis==5.2.1
pydantic==2.10.6
pydantic-settings==2.7.1
motor==3.6.1
beanie==1.29.0
types-requests==2.32.0.20241016
sentry-sdk[fastapi]==2.20.0
aiohttp==3.11.11
